body{
    font-size: 0.8rem;
    background-color: #FBFCF4;
    color: #2A2B2A;
}

h1{
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

h2{
    font-size: 1.2rem;
    margin: 0;
}

h3 {
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0.5rem 0;
}

h4 {
    font-size: 0.8rem;
    margin: 0rem;
}

textarea {
    outline: none !important; 
    width: 100%;
    min-height: 5rem;
    border: 0.2px solid #C8C8C8;
    background-color: #FFFFFF;
    font-size: 0.8rem;
    color: #2A2B2A;
    padding: 0.5rem;
    box-sizing: border-box;
    resize: vertical; /* 상하만 가능 */
    border-radius: 0.2rem;
    /* box-shadow: 
    0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); */

    resize: none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

/* textarea:hover {
    box-shadow: 
        0 10px 20px rgba(0,0,0,0.19), 
        0 6px 6px rgba(0,0,0,0.23);
  } */

input[type="button"] {
        border: 0.2px solid #C8C8C8;
        color: #2A2B2A;
        background-color: inherit;
        padding: 3px 5px;
        cursor: pointer;
        width: 100%;
        /* display: inline-block; */
}

/* On mouse-over */
input:hover {
    background: #F7DA7B;
}

li {
    list-style: none;
    margin: 0.1rem auto;
    padding: 0.6rem 1rem;
    min-height: 1rem;
    border: 0.2px solid #C8C8C8;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0.2rem;
    box-shadow: 
        0 1px 3px rgba(0,0,0,0.12), 
        0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

li:hover {
    background: #F7DA7B;
    box-shadow: 
        0 10px 20px rgba(0,0,0,0.19), 
        0 6px 6px rgba(0,0,0,0.23);
}

#titleText{
    font-family: 'EB Garamond', serif;
}

#date {
    width: 10rem;
}

#divImageMain{
    margin: 3rem auto;
    text-align: center;
}

#gridBody{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 6rem;
    grid-gap: 0.2rem;
}

#divTop{
    border-bottom: 1px solid rgb(220, 220, 220);
}

#divInfoTable{
    margin: 1rem 0;
    padding: 0.5rem;
    border: 0.2px solid #C8C8C8;
}

#guideMessage{
    display: block;
    text-align: center;
    font-style: italic;
}

#divNoticeMain {
    text-align: center;
}

#gridMain{
    display: grid;
    grid-template-rows: 1fr 2rem;
    grid-gap: 0.2rem;
    margin: 3rem auto;
}

#gridColumn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.2rem;
    margin-bottom: 1rem;
}

.girdColumnForLayer{
    display: grid;
    grid-template-rows: 6rem 1fr auto;
    grid-gap: 1.2rem;
    margin-bottom: 1rem;
}

.gridMainTop{
    display: grid;
    grid-template-rows: 2rem 1fr;
    grid-gap: 0.2rem;
    width: 16rem;
    /*[질문] 최대 높이에 맞춰서 진행방법? */
    padding: 0 1rem;
    margin: 0 auto;
    align-content: center;
}

.divList{
    width: 16rem;
    padding: 0 1rem;
    margin: 2rem auto;
    align-content: center;
}

.gridMainIndex{
    display: grid;
    grid-template-rows: 1fr 2rem;
    grid-gap: 0.2rem;
}

.gridMainContents{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0.2rem;
    width: 16rem;
    padding: 1rem;
    margin: 0 auto 2rem auto;
    background-color: #FFF;
    align-content: center;
    border-radius: 0.2rem;
    box-shadow: 
    0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    min-height: 14rem;
}

.gridMainContents:hover {
    box-shadow: 
        0 10px 20px rgba(0,0,0,0.19), 
        0 6px 6px rgba(0,0,0,0.23);
}

#gridMainEdit{
    display: grid;

    align-content: center;
}

#mainCard_txt{
    text-align: center;
}

#gridWebInfo{
    font-size: 0.6rem;
    color: rgb(100, 100, 100);
    display: block;
    /* grid-template-columns: 1fr 10rem 10rem; */
    border: 1px solid rgb(220, 220, 220);
    padding: 1rem;
    grid-gap: 0.2rem;
}

#divCreateName{
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #C8C8C8;
}

#imageMain{
    width: 70%;
}

/* #imageMain:hover{
    box-shadow: 
        0 10px 20px rgba(0,0,0,0.19), 
        0 6px 6px rgba(0,0,0,0.23);
} */

.button{
    text-align: right;
}

.indexTextbox{
    width: 6rem;
}

#divLogin{
    margin: 5rem;
    text-align: center;
}

/*to do list
https://www.w3schools.com/howto/howto_js_todolist.asp
*/


   

@media(max-width:700px){
    #divIndex{
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #C8C8C8;
    }

    #gridWebInfo{
        font-size: 0.5rem;
        display: block;
        border-top: 0.2px solid #C8C8C8;
        padding-top: 0.5rem;
    }
    #gridMainSubFrame{
        display: block;
    }
    .button{
        text-align: left;
    }

    #gridMainFrame{
        padding-top: 0.5rem;
    }

    .gridMainContents{
        display: grid;
        grid-template-rows: auto 1fr;
        background-color: #FFF;
        padding: 1rem;
        border-radius: 0.2rem;
        box-shadow: 
        0 1px 3px rgba(0,0,0,0.12), 
        0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        margin: auto;
        grid-gap: 0.2rem;
    }

    #divContentsControl{
        padding: 0.5rem 0;
    }

    #divLogin{
        margin-top: 5rem;
        text-align: center;
    }
    
}