body{
    font-size: 0.8rem;
    background-color: #FCFCFC;
    color: #62615F;
}

h1{
    font-size: 1.5rem;
    margin: 0;
}

h2{
    font-size: 1.2rem;
}

h3 {
    font-size: 0.9rem;
    font-weight: normal;
}

h4 {
    font-size: 0.8rem;
    margin: 0rem;
}

textarea {
    width: 100%;
    min-height: 5rem;
    border: 0.2px solid #9CC0E7;
    background-color: #FCFCFC;
    font-size: 0.8rem;
    padding: 0.5rem;
    box-sizing: border-box;
    resize: vertical; /* 상하만 가능 */
}

textarea:read-only {
    outline: none !important;
    background-color: #FCFCFC;
    border-top: 0.2px solid rgb(200, 200, 200);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

#date {
    width: 10rem;
}

#gridBody{
    display: grid;
    grid-template-rows: "height: auto;" "height: auto;" 1fr 3rem;
    margin: 2rem;
    grid-gap: 0.2rem;
}

#gridMain{
    display: grid;
    grid-template-columns: 17rem 1fr;
    padding-bottom: 1rem;
    grid-gap: 0.2rem;
}

#gridIndex{
    background-color: #EEEEEE;
    padding: 1rem;
    grid-gap: 0.2rem;
}

#divInfoTable{
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-top: 0.2px solid rgb(200, 200, 200);
    border-bottom: 0.2px solid rgb(200, 200, 200);
}

#gridMainFrame{
    display: grid;
    grid-template-rows: "height: auto;" 1fr;
    margin-left: 0.5rem;
    grid-gap: 0.2rem;
}
#divContentsControl{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #EEEEEE;
    padding: 0.5rem;
    align-items: center;
}

#divContentsControl .right{
    text-align: right;
}

#gridMainContents{
    display: grid;
    grid-template-rows: auto 1fr;
    margin-bottom: 0.5rem;
    grid-gap: 0.2rem;
}

#gridNavi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}

#gridPageInfo{
    font-size: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 10rem 10rem;
    border-top: 1px solid rgb(200, 200, 200);
    padding-top: 0.5rem;
    grid-gap: 0.2rem;
}

#divWelcome{
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
}

.pageInfoBrand{  
    text-align: right;
    font-size: 0.8rem;
}
#imageMain{
    width: 100%;
}
.button{
    text-align: right;
}
.formInline{
    display: inline;
}

.indexTextbox{
    width: 6rem;
}



/*to do list
https://www.w3schools.com/howto/howto_js_todolist.asp
*/


   

@media(max-width:600px){
    #gridIndex{
        display: block;
        margin-bottom: 1rem;
    }
    #gridMain{
        display: block;
        padding-bottom: 1rem;
    }
    #gridMainFrame{
        display: grid;
        grid-template-rows: "height: auto;" 1fr;
        margin-left: 0rem;
    }
    #gridPageInfo{
        font-size: 0.5rem;
        display: block;
        border-top: 1px solid gray;
        padding-top: 0.5rem;
    }
    #imageMain{
        max-width: 15rem;
    }
    .pageInfoBrand{  
        text-align: left;
        font-size: 0.8rem;
        padding-top: 0.5rem;    
    }
    .gridIndex{
        padding-bottom: 0.5rem;
    }
    #gridMainSubFrame{
        display: block;
    }
    .button{
        text-align: left;
    }
    #gridMainContents{
        display: grid;
        grid-template-rows: 7rem auto;
        padding: 0.5rem 0.5rem 0.5rem 0;
        margin-bottom: 0.5rem;
    }

    #gridNavi{
        display: block;   
    }

    #divContentsControl{
        display: block;
        background-color: rgb(240, 240, 240);
        padding: 0.5rem;
        text-align: center;
    }
    
}